.intro-resume-container{
  color: white;
  height: 300px;
  padding-top: 100px;
  h1{
    margin-left: 40%;
  }
  .container{
    position: relative;
    height: 100%;
    .header_picture{
      position: absolute;
      bottom: 0;
      left: 0;
      height: auto;
      width: 36%;
    }
  }
}
@media (min-width: 550px) and (max-width: $screen-sm-min) {
  .intro-resume-container{
    height: 250px;
    padding-top: 150px;
    .container{
      .header_picture{
        width: 40%;
      }
    }
  }
}
@media (max-width: 550px) {
  .intro-resume-container{
    height: 200px;
    padding-top: 100px;
    .container{
      .header_picture{
        width: 40%;
      }
    }
    h1{
      font-size: 32px;
    }
  }
}
.pdf-button{
  margin: 50px 0;
}
.skills-container{
  background-color: $primary-color;
  color: white;
  padding-bottom: 50px;
  img{
    width: 25%;
  }

}
.resume-section-wrapper{
  margin-bottom: 40px;
  .row{
    position: relative;
    .vertical-line{
      border-left: 2px solid $light-grey;
      position: absolute;
      right: -12.5%;
      height: 100%;
      width: 100%;
      z-index: -1;

    }
  }
}
.resumeImg{
  width: 80px;
  margin: 40px 0;
}
.resume-entry{
  margin: 40px 0 0 0;
  // background-color: #E7E7E8;
  padding: 0;
  p{
    padding: 0 15px;
  }
  .resume-date{
    background-color: $primary-color;
    color: white;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    span{
      float: right;
      font-size: 14px;
    }
  }
  .resume-title{
    // font-style: italic;
    color: $secondary-dark-color;
    font-size: 20px;
    margin-top: 10px;
  }
  .resume-position{
    font-size: 24px;
  }
  .resume-description{
    font-size: 16px;
    // padding: 0 40px 30px;
    color: $secondary-dark-color;
    li{
      margin: 10px 0;
      span{
        color: $dark-grey;
      }
    }
    .bold{
      font-weight: 700;
    }

  }
}
@media (max-width: $screen-xs-min) {
  .resume-entry{
    .resume-date {
      height: auto;
      line-height: 24px;
      padding: 10px;
      span{
        float: none;
        display: block;
      }
    }
  }

}

@media (min-width: $screen-sm-min) {
  .resume-entry::before {
      content: '';
      position: absolute;
      top: 0px;
      right: 100%;
  		z-index: 2;
  		height: 0;
  		border-top: 20px solid transparent;
  		border-bottom: 20px solid transparent;
  		border-right: 20px solid $primary-color;
  }
}

.other-experience-container{
  background-color: $primary-color;
  color: white;
  padding-bottom: 50px;
  margin-top: 50px;
  .row{
    text-align: left;
  }

}
.margin-top-50{
  margin-top: 50px;
}

.adjectives{
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
  span{
    color: $secondary-color;
  }
}
