@import "settings";
@import "foundation";


$maincolor:     #A80659;
$dark:          #33001E;
$light:         #FFD4F1;
$white:         #ffffff;
$darkgrey:      #595959;
$darkergrey:    #333333;
$maintext:      'Karma';
$bodytext:      'Open-Sans';

body{
  &.home{
    background-image: url('../img/main_photo1.png');
  }
  &.weather_page{
    background-image: url('../img/roses.png');
    background-position: center;
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: $white;
}
h1{
  font-family: $maintext, 'sans-serif';
  font-size: 4rem;
  color: $dark;
  font-weight: bold;
}
@media #{$small-only}{
  h1{
    font-size: 3rem;
  }
}


.top-bar{
  height: 4.5rem;
  background-color: $maincolor;
  .left{
    margin: 0;
    padding: 0;
    img{
      height: 4.5rem;
      padding: .5rem 1rem;
    }
  }
  .info{
    height: 4.5rem;
    padding: 1.25rem 1rem;
  }
}
@media #{$small-only} {
  .top-bar{
    height: 3rem;
    .left{
      img{
        height: 3rem;
        padding: .5rem 1rem;
      }
    }
    .info{
      height: 3rem;
      padding: 1rem 1rem;
    }
  }
}


.reveal-modal{
  background-color: $white;
  color: $darkergrey;
  h1{
    color: $maincolor;
  }
  p{
    font-family: $bodytext, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: $dark;
  }

}

.form{
  margin-top: 2rem;
  p{
    font-family: $bodytext, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.1;
    color: $dark;
  }
  .prefix{
    height: 4rem;
    padding: .5rem 0;
    border: lighten($darkgrey, 20%) 1px solid;
    border-right: none;
    background-color: $darkgrey;
    color: $white;
    img{
      height: 3rem;
    }
  }
  input{
    height: 4rem;
    border: lighten($darkgrey, 20%) 1px solid;
    border-left: none;
    background-color: rgba( $darkgrey, .8 );
    font-size: 1.5rem;
    color: $white;
    font-family: $bodytext, sans-serif;
    font-weight: 300;
    &:focus {
      background-color: $darkgrey;
    }
  }

  ::-webkit-input-placeholder {
    color: $white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $white;
  }
  :-ms-input-placeholder {
    color: $white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $white;
  }
  select{
    height: 4rem;
    border: lighten($darkgrey, 20%) 1px solid;
    border-left: none;
    background-color: rgba( $darkgrey, .8 );
    font-size: 1.5rem;
    color: $white;
    font-family: $bodytext, sans-serif;
    font-weight: 300;
    &:focus {
      outline-color: transparent;
      outline-style: none;
      background-color: $darkgrey;
    }
  }
}
.form input.button{
  text-align: center;
  background-color: $maincolor;
  padding: .5rem 3rem;
  color: $white;
  cursor: pointer;
  &:hover{
    background-color: darken($maincolor, 10%);
  }
}
.arrow{
  height: 2rem;
}
@media #{$small-only} {
  .form{
    input{
      font-size: 1rem;
    }
    select{
      font-size: 1rem;
    }
  }
}

h3#city{
  font-family: $bodytext, sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: $white;
  line-height: 1;
  margin: 10px 0 0 0;
}
.weather{
  background-color: rgba( $white, .6 );
  color: $darkgrey;
  padding: 10px;
  margin-bottom: 1rem;
  &:hover{
    background-color: $white;
  }
  a{
    color: $darkgrey;
  }
  .date{
    font-family: $bodytext, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: $darkergrey;
  }
  .weather_pic{
    padding: .5rem 1rem;
    img{
      width: auto;
      height: 3rem;
      display: block;
      margin: 0 auto;
    }
  }
  .temp{
    color: $dark;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    padding: .25rem;

    p{
      font-size: 2.75rem;
      margin: 0;
      line-height: 4rem;
      font-family: $bodytext, sans-serif;
      font-weight: 300;
    }
    span.degree{
      font-size: 1rem;
      padding-top: 10px;
      display: inline-block;
      vertical-align: top;
      line-height: normal;
    }
  }
}
@media #{$small-only} {
  h3#city{
    font-size: 1.5rem;
  }
  .weather{
    .date{
      font-size: 1rem;
    }
    .temp{
      text-align: left;
      p{
        line-height: 1;
        font-size: 1.5rem;
      }
      span.degree{
        vertical-align: top;
        padding: 0;
      }
    }
    .weather_pic{
      padding: 0;
    }
  }
}
@media #{$medium-only} {
  .weather{
    .temp{
      text-align: left;
    }
    .weather_pic{
      img{
        margin: 0;
      }
    }
  }
}

@media #{$large-up} {
  .weather{
    background-color: rgba($white,0);
    &:hover{
      background-color: rgba($white,0);
    }
    .weather-wrapper{
      display: inline-block;
      background-color: rgba( $white, .6 );
      &:hover{
        background-color: $white;
      }
    }
    .weather_pic{
      padding: 1.5rem 1rem;
      height: 8rem;
      img{
        width: 100%;
        height: auto;
      }
    }
    .temp{
      height: 5rem;
      padding: 0 1rem;
    }
  }
}

.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {
    float: left;
}


.user_info{
  h3{
    font-family: $bodytext, sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: $white;
    line-height: 1;
    margin: 20px 0 0 0;
  }
  a{
    font-family: $bodytext, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: $light;
  }
}


.weather_info{
  margin-top: 2rem;
  color: $white;
  display: inline-block;
  #canvas{
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto 0 auto;
    z-index: 100;
  }
  h2{
    font-family: $bodytext, sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: $white;
    line-height: 1;
    margin: 0;
    span.tempSign{
      font-size: 1rem;
      vertical-align: top;
    }
  }
  p{
    font-family: $bodytext, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
    text-align: center;
  }
}


.suggestion{
  background-color: rgba( $white, .4 );
  padding: 3rem 0;
  margin: 0;
  font-size: 3rem;
  line-height: 1.1;
  color: $darkergrey;
  text-align: center;
  font-family: $bodytext, sans-serif;
  font-weight: 300;
  span#weatherForecast{
    font-size: 1.5rem;
    line-height: 1;
  }
}
@media #{$small-only}{
  .suggestion{
    font-size: 2rem;
  }
}
.row .row{
  width: 100%;
  margin: 0;
}

//Animation

.load{
  background-color: $maincolor;
  overflow: hidden;
  h1{
    text-align: center;
    font-family: $maintext;
    color: $white;
  }
  a{
    display: inline-block;
    height: 100%;
    width:  100%;
  }
  .heart{
    width: 75px;
    height: auto;
    display: block;
    margin: 100px auto 0;
  }
  .glass-wrapper{
    display: inline-block;
  }
  .glasses{
    text-align: center;
    margin-top: 100px;
  }
  .glass{
    width: 150px;
    height: auto;
    position: relative;
    left: -10px;
    display: block;
    margin: 0 auto;
  }
}






@-webkit-keyframes glassMoveA {
  0% {
    left: -200px;
    opacity: 0;
    -ms-transform: rotate(-16deg);
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
  }
  70%{
    opacity: 1;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  90% {
    left: 4px;
  }
  100% {
    left: -10px;
  }
}

.glass1 {
    left: -10px;


    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);

    -webkit-animation: glassMoveA 1.5s;
    -moz-animation: glassMoveA 1.5s;
    animation: glassMoveA 1.5s;
}
@-webkit-keyframes glassMoveB {
  0% {
    left: 200px;
    opacity: 0;
    -ms-transform: rotate(16deg);
    -webkit-transform: rotate(16deg);
    transform: rotate(16deg);
  }
  70%{
    opacity: 1;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  90% {
    left: -4px;

  }
  100% {
    left: 10px;

  }
}
.glass2 {

    left: 10px;

    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);

    -webkit-animation: glassMoveB 1.5s;
    -moz-animation: glassMoveB 1.5s;
    animation: glassMoveB 1.5s;

}

@-webkit-keyframes heartMove{
  0% {
    top: 150px;
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    top: 0;
  }
}

.heart {
    position: relative;
    top: 0px;
    -webkit-animation: heartMove 1.5s;
    -moz-animation: heartMove 1.5s;
    animation: heartMove 1.5s;
    -webkit-animation-delay: 1.2s; /* Chrome, Safari, Opera */
    animation-delay: 1.2s;
    opacity: 0;

}

@-webkit-keyframes titleFade {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.loadTitle {
    -webkit-animation: titleFade 1s;
    -moz-animation: titleFade 1s;
    animation: titleFade 1s;
    -webkit-animation-delay: 1.2s; /* Chrome, Safari, Opera */
    animation-delay: 1.2s;
    opacity: 0;
    font-size: 5rem;

}

.change{
  opacity: 1;
}
